@media all and(mix-width:1100px)
{
.logo a 
    {
    font-size: 50px;
    }

    .header h2 {
        font-size: 120px;
    }
    .header p {
        font-size: 16px;
    }
    .header a {
        font-size: 20px;
        padding: 8px 40px;
        
    }
    .global-text .pomular1 {
        font-size: 80px;
    }
    .global-text p {
        font-size: 16px;
    }
    .package .img {
        width: 150px;
        height: 150px;
    }
    .package-h {
        font-size: 30px;
    }
    .package p {
        font-size: 16px;
    }
    .global-text .pomular2 {
        font-size: 80px;
    }
    .global-text p {
        font-size: 14px;
    }

    .manu1 {
        padding: 25px 50px 25px 50px;
    }
    .me {
        color: #ffffff;
    }

    .a153 {
        font-size: 30px;
    }
    .our-statistic {
        padding: 0 0% 20px;
    }

    .mie {
        column-gap: 30px;
        padding-bottom: 40px;
        justify-content: center;
    }
    .ol-manu {
        padding-bottom: 70px;
    }
    .global-text .pomular1 {
        font-size: 70px;
    }
    .global-text p {
        font-size: 12px;
    }
    .delicious2 {
        padding: 150px 50px 150px 70px;
    }
    .global-text .pomular1 {
        font-size: 60px;
    }
    .pasta-tea a {
        padding: 8px 80px;
    }
    .packege-manu {
        
        column-gap: 40px;
        
    }

    .pasta-tea {
        padding: 45px 20px 62px;
    }

    



}